.nd-region > .container-fluid > .row > .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
body{
  max-width: 100%;
}
#admin-menu{
  z-index: 99999;
}
ul li.leaf {
 list-style-image: none;
 list-style-type: none; 
}
.dropdown .dropdown-menu{
  right: auto;
}
.site_wrapper {
  background-color: #fff;
}
.tpl-minimal-tabs{
  margin: 10px 0 30px;
}
.block-title{
  margin: 25px 0 20px;
}
.widget-title{
  margin-top: 30px;
}
.container .container {
  padding: 0;
  width: auto;
}
.text-center .img-responsive{
  margin: auto;
}
@media(max-width:700px) {
  #admin-menu{
    display: none;
  }
  body.admin-menu {
    margin-top: 0px !important;
  }
}

/* TB Mega Menu */
.align-menu-right{
  position: relative !important;
}
.align-menu-right > .dropdown-menu,
.align-menu-center > .dropdown-menu,
.align-menu-justify > .dropdown-menu{
  right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  left: auto;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.margin-right-0{
  margin-right: 0;
}
.panel.dropdown{
  position: relative;
}
.dropdown-menu {
  padding: 7px 15px;
}
.megamenu-column-single .list-unstyled a:hover{
  margin-left: 0;
}
.mega-nav > li + li > p{
  margin-top: 25px;
}
ul.row{
  padding-left: 0;
}
.item-list .pager{
  margin-top: 25px;
}
.pager.blog-pagenation a{
  border-radius: 0;
}
.item-list .pager li{
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: " " !important;
}
@media (max-width: 767px) {
  .navbar-nav .dropdown .dropdown-menu {
      width: auto !important;
  }
}

/* Product teaser */
.node-teaser.node-product-display .commerce-product-title-label{
  display: none;
}
.node-teaser.node-product-display .commerce-product-title{
  margin-bottom: 3px;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  color: #272727;
}
.node-teaser.node-product-display .commerce-add-to-cart{
  margin-top: 40px;
}

/* Forms */
.field-label,
.commerce-product-sku-label{
  font-size: 14px;
  font-weight: 600 !important;
  color: #242424;
}
.grippie{
  display: none;
}
.smart-forms .button{
  padding-right: 50px
}
.btn-primary{
  border-color: transparent;
}
.form-actions .form-submit + .form-submit{
  margin-left: 15px;
}

/* Comments */
.comment-control {
  padding: 10px 0 0;
  float: right;
}
.comment-control a{
  text-transform: capitalize;
  margin-right: 10px;
}
.indented {
    margin-left: 50px;
}

/* Countdown */
div.clock {
  color: white;
  margin: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 90px;
  text-align: center;
}
div.clock p {
  border:1px solid #fff;
  float: left;
  padding: 20px 20px;
  margin-right: 10px;
}
div.clock p b {
  font-weight: normal;
  text-transform: uppercase;
}
div.clock p span {
  display: block;
  font-size: 50px;
  font-weight: bold;
  padding: 5px 0 20px 0;
}
div.clock div.space {
  color: #ccc;
  display: block;
  line-height: 1.7em;
  font-size: 50px;
  float: left;
  height: 88px;
  width: 30px;
}
/*styles two*/

div.clock2 {
  color: white;
  margin: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 90px;
  text-align: center;
}
div.clock2 p {
  background: #fff;
  float: left;
  color: #161616;
  padding: 20px 20px;
  margin-right: 10px;
  border: 1px solid #e4e4e4;
}
div.clock2 p b {
  font-weight: normal;
  text-transform: uppercase;
}
div.clock2 p span {
  display: block;
  font-size: 50px;
  font-weight: bold;
  padding: 5px 0 20px 0;
}
div.clock2 div.space {
  color: #ccc;
  display: block;
  line-height: 1.7em;
  font-size: 50px;
  float: left;
  height: 88px;
  width: 30px;
}

/* List Styles */
.iconlist.dark li:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00c";
  padding-right: 14px;
  color: #161616;
}

/* Related Posts */
.view-related-posts{
  padding: 0 0 40px 15px;
}

/* Blog */
.blog1-post-info-box .text-box{
  margin-bottom: 23px;
}
.views-row-1 .divider-line{
  display: none;
}

/* Margin Top */
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.mt-50{
  margin-top: 50px;
}
.mt-60{
  margin-top: 60px;
}
.mt-70{
  margin-top: 70px;
}
.mt-80{
  margin-top: 80px;
}
.mt-90{
  margin-top: 90px;
}
.mt-100{
  margin-top: 100px;
}
/* Margin Bottom*/
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-60{
  margin-bottom: 60px;
}
.mb-70{
  margin-bottom: 70px;
}
.mb-80{
  margin-bottom: 80px;
}
.mb-90{
  margin-bottom: 90px;
}
.mb-100{
  margin-bottom: 100px;
}
/* Margin top MINUS */
.mt-m-10{
  margin-top: -10px;
}
.mt-m-20{
  margin-top: -20px;
}
.mt-m-30{
  margin-top: -30px;
}
.mt-m-40{
  margin-top: -40px;
}
.mt-m-50{
  margin-top: -50px;
}
.mt-m-60{
  margin-top: -60px;
}
.mt-m-70{
  margin-top: -70px;
}
.mt-m-80{
  margin-top: -80px;
}
.mt-m-90{
  margin-top: -90px;
}
.mt-m-100{
  margin-top: -100px;
}

/* Portfolio */
.view-portfolio-no-filter .cbp-caption-activeWrap{
  background-color: #282727;
}

/* Mega Slider */
.letter-space-20 {
  letter-spacing: 20px;
}
.md-arrow .md-arrow-left, .md-arrow .md-arrow-right {
  width: 30px;
  background: url(../images/light-skin-1.png);
  background-position: -89px -26px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  left: 30px;
  margin-top: -20px;
  position: absolute;
  z-index: 110;
}
.md-arrow .md-arrow-right {
  right: 30px;
  left: auto;
  background-position: -89px -103px;
}
.md-bullet {
  width: 10px;
  height: 10px;
  background: url(../images/light-skin-1.png) no-repeat;
  margin: 4px;
  background-position: -34px -117px;
  cursor: pointer;
}
.md-bullet a{
  display: none !important;
}
.md-current.md-bullet {
  background-position: -34px -84px;
}

/* Parallax */
.parallax-section {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0px;
  text-align: center;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-position: center;
  z-index: 1;
}

/* WebForms */
.email_submit{
  line-height: 23px;
}

/* Titles */
.f30px700w{
  font-weight: 700;
  font-size: 30px;
}

/* Background */
.bg1 {
  background: url(../images/bg-pattrens/01.jpg) fixed center top;
}
.bg2 {
  background: url(../images/bg-pattrens/02.jpg) fixed center top;
}
.bg3 {
  background: url(../images/bg-pattrens/03.jpg) fixed center top;
}
.bg4 {
  background: url(../images/bg-pattrens/04.jpg) fixed center top;
}
.bg5 {
  background: url(../images/bg-pattrens/05.jpg) fixed center top;
}
.bg6 {
  background: url(../images/bg-pattrens/06.jpg) fixed center top;
}
.bg7 {
  background: url(../images/bg-pattrens/07.jpg) fixed center top;
}
.bg8 {
  background: url(../images/bg-pattrens/08.jpg) fixed center top;
}
.bg9 {
  background: url(../images/bg-pattrens/08.jpg) fixed center top;
}
.bg10 {
  background: url(../images/bg-pattrens/10.jpg) fixed center top;
}
.bg11 {
  background: url(../images/bg-pattrens/11.jpg) fixed center top;
}
.bg12 {
  background: url(../images/bg-pattrens/12.jpg) fixed center top;
}