/*==================================================
	agency colors
==================================================*/

.navbar-header .logo-box {
    background-color: #ffd133;
}
.btn.btn-red-4 {
    background-color: #ffd133;
}
ul.nav > li > a.active {
    color: #ffd133;
}
ul.nav > li > a.active:hover {
    color: #ffd133;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut16 {
    background-color: #ffd133;
}
.section-red-5 {
    background-color: #ffd133;
}
.text-red-5 {
    color: #ffd133;
}
.iconlist.red-5 li i {
    color: #ffd133;
}
.scrollup.red-5 {
    background-color: #ffd133;
}
.btn.btn-border.red-5 {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.red-5:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-red-5 {
    background-color: #ffd133;
}
.feature-box70:hover, .feature-box70.active {
    background-color: #ffd133;
}
.team-holder2.two .img-holder .icon-box {
    background-color: #ffd133;
}
.usefull-links.red-5 li i {
    color: #ffd133;
}
.feature-box-74:hover .iconbox-xtiny {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.iconlist.orange2 li i {
    color: #ffd133;
}
.smart-forms .btn-primary.red-5 {
    background-color: #ffd133;
}

/*==================================================
	beauty colors
==================================================*/

.topbar.pink-2 {
    background-color: #ffd133;
}
ul.nav.pink > li > a.active {
    color: #ffd133;
}
ul.nav.pink > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.pink .navbar-nav > li > a:focus, .navbar-default.pink .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut11.pink {
    background-color: #ffd133;
}
.title-line-4.pink {
    background-color: #ffd133;
}
.btn.btn-border.pink {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-pink {
    background-color: #ffd133;
}
.btn.btn-border.pink:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.iconlist.pink li i {
    color: #ffd133;
}
.text-pink {
    color: #ffd133;
}
.section-pink {
    background-color: #ffd133;
}
.usefull-links.yellow li i {
    color: #ffd133;
}
.scrollup.pink {
    background-color: #ffd133;
}
.team-holder12.three .image-holder .hover-box {
    background-color: #ffd133;
}
.smart-forms .btn-primary.pink {
    background-color: #ffd133;
}

/*==================================================
	blog1 colors
==================================================*/

ul.nav.yellow-green > li > a.active {
    color: #ffd133;
}
ul.nav.yellow-green > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.yellow-green .navbar-nav > li > a:focus, .navbar-default.yellow-green .navbar-nav > li > a:hover {
    color: #ffd133;
}
.blog1-post-holder .image-holder .post-info {
    background-color: #ffd133;
}
.btn.btn-border.yellow-green {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.yellow-green:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.blog1-social-icons li a:hover {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.category-links li a:hover, .category-links li a.active {
    color: #ffd133;
}
.blog1-sidebar-posts:hover h6, .blog1-sidebar-posts.active h6 {
    color: #ffd133;
}
.tags li a:hover, .tags li a.active {
    background-color: #ffd133;
}
.social-icons-3.yellow-green li a:hover, .social-icons-3.yellow-green li a.active {
    background-color: #ffd133;
}
.section-copyrights.section-white {
    background-color: #ffd133;
}
.scrollup.yellow-green {
    background-color: #ffd133;
}
a.loadmore-but {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-green {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-green:active {
    background-color: #ffd133;
}


/*==================================================
	blog2 colors
==================================================*/


ul.nav.yellow-green > li > a.active {
    color: #ffd133;
}
ul.nav.yellow-green > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.yellow-green .navbar-nav > li > a:focus, .navbar-default.yellow-green .navbar-nav > li > a:hover {
    color: #ffd133;
}
.blog1-post-holder .image-holder .post-info {
    background-color: #ffd133;
}
.btn.btn-border.yellow-green {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.yellow-green:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.blog1-social-icons li a:hover {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.category-links li a:hover, .category-links li a.active {
    color: #ffd133;
}
.blog1-sidebar-posts:hover h6, .blog1-sidebar-posts.active h6 {
    color: #ffd133;
}
.tags li a:hover, .tags li a.active {
    background-color: #ffd133;
}
.social-icons-3.yellow-green li a:hover, .social-icons-3.yellow-green li a.active {
    background-color: #ffd133;
}
.section-copyrights.section-white {
    background-color: #ffd133;
}
.scrollup.yellow-green {
    background-color: #ffd133;
}
a.loadmore-but {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-green {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-green:active {
    background-color: #ffd133;
}
.social-icons-3.dark li a:hover, .social-icons-3.dark li a.active {
    background-color: #ffd133;
}

/*==================================================
	cafe colors
==================================================*/


.menu li a.current {
    color: #ffd133;
}
.menu li a:hover {
    color: #ffd133;
}
.ms-layer.sbut10:hover {
    background-color: #ffd133;
}
.feature-box48:hover .icon.three, .feature-box48.active .icon.three {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon {
   background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon.two {
	background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon.four {
	background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover h5, .feature-box48.active h5 {
    color: #ffd133;
}
.text-brown {
    color: #ffd133;
}
.title-line-4.brown {
    background-color: #ffd133;
}
.btn.btn-border.brown {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.brown:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-border.white.brown:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-brown:hover {
    background-color: #ffd133;
}
.social-icons-3.brown li a:hover, .social-icons-3.brown li a.active {
    background-color: #ffd133;
}
.scrollup.brown {
    background-color: #ffd133;
}

/*images*/
.feature-box48 .icon {
	background: #fff url(../../images/colors/yellow/328.png) center center no-repeat;
}
.feature-box48 .icon.two {
	background: #fff url(../../images/colors/yellow/330.png) center center no-repeat;
}

.feature-box48 .icon.three {
	background: #fff url(../../images/colors/yellow/332.png) center center no-repeat;
}
.feature-box48 .icon.four {
	background: #fff url(../../images/colors/yellow/334.png) center center no-repeat;
}


ul.nav.brown > li > a.active {
    color: #ffd133;
}
ul.nav.brown > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.brown .navbar-nav > li > a:focus, .navbar-default.brown .navbar-nav > li > a:hover {
    color: #ffd133;
}
.smart-forms .btn-primary.brown {
    background-color: #ffd133;
}

/*==================================================
	cafe2 colors
==================================================*/

.menu li a.current {
    color: #ffd133;
}
.menu li a:hover {
    color: #ffd133;
}
.ms-layer.sbut10:hover {
    background-color: #ffd133;
}
.feature-box48:hover .icon.three, .feature-box48.active .icon.three {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon {
   background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon.two {
	background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover .icon.four {
	background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box48:hover h5, .feature-box48.active h5 {
    color: #ffd133;
}
.text-brown {
    color: #ffd133;
}
.title-line-4.brown {
    background-color: #ffd133;
}
.btn.btn-border.brown {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.brown:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-border.white.brown:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-brown:hover {
    background-color: #ffd133;
}
.social-icons-3.brown li a:hover, .social-icons-3.brown li a.active {
    background-color: #ffd133;
}
.scrollup.brown {
    background-color: #ffd133;
}

/*images*/
.feature-box48 .icon {
	background: #fff url(../../images/colors/yellow/328.png) center center no-repeat;
}
.feature-box48 .icon.two {
	background: #fff url(../../images/colors/yellow/330.png) center center no-repeat;
}

.feature-box48 .icon.three {
	background: #fff url(../../images/colors/yellow/332.png) center center no-repeat;
}
.feature-box48 .icon.four {
	background: #fff url(../../images/colors/yellow/334.png) center center no-repeat;
}


/*==================================================
	charity colors
==================================================*/

ul.nav.cyan > li > a.active {
    border-bottom: 4px solid #ffd133;
    color: #ffd133;
}
ul.nav.cyan > li > a.active:hover {
    border-bottom: 4px solid #ffd133;
    color: #ffd133;
}
.navbar-default.cyan .navbar-nav > li > a:focus, .navbar-default.cyan .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut17 {
    background-color: #ffd133;
}
.section-cyan {
    background-color: #ffd133;
}
.text-cyan {
    color: #ffd133;
}
.boxed-title {
    background-color: #ffd133;
}
.divider-line.cyan {
    border-bottom-color: #ffd133;
}
.btn.btn-border.light.cyan:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.slide-controls-color-7 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.btn.btn-cyan {
    background-color: #ffd133;
}
.scrollup.cyan {
    background-color: #ffd133;
}
.boxed-title-3 {
    background-color: #ffd133;
}
.feature-box-77 {
    background-color: #ffd133;
}
.feature-box-78 .post-date-box {
    background-color: #ffd133;
}
.boxed-title-4 {
    background-color: #ffd133;
}
.boxed-title-4 .post-date-box {
    background-color: #ffd133;
}
.feature-box-75 {
    border: 1px solid #ffd133;
}
.category-links.cyan li a:hover, .category-links.cyan li a.active {
    color: #ffd133;
}
.tags.two li a:hover, .tags.two li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.team-holder14.two .image-holder .hover-box {
    background-color: #ffd133;
}
.smart-forms .btn-primary.cyan {
    background-color: #ffd133;
}


/*==================================================
	construction colors
==================================================*/

ul.nav.yellow > li > a.active {
    border-bottom: 2px solid #ffd133;
    color: #ffd133;
}
.navbar-default.yellow .navbar-nav > li > a:focus, .navbar-default.yellow .navbar-nav > li > a:hover {
    color: #ffd133;
}
ul.nav.yellow > li > a.active:hover {
    color: #ffd133;
}
.ms-layer.sbut6.yellow {
    background-color: #ffd133;
}
.section-yellow {
    background-color: #ffd133;
}
.divider-line.yellow {
    border-bottom-color: #ffd133;
}
.btn.btn-yellow {
    background-color: #ffd133;
}
.title-line-8.yellow {
    background-color: #ffd133;
}
.cbp-l-filters-button.three .cbp-filter-item.cbp-filter-item-active {
    color: #ffd133;
}
.cbp-l-filters-button.two .cbp-filter-item.cbp-filter-item-active {
    border-color:#ffd133;
}
.cbp-l-filters-button.two .cbp-filter-item:hover {
    color: #ffd133;
}
.cbp-l-filters-button.two .cbp-filter-counter {
    background-color: #ffd133;
}

.cbp-l-filters-button.two .cbp-filter-counter::before {
    border-top: 4px solid #ffd133;
}
.tabs10 li.active a {
    background-color: #ffd133;
    border-right: 1px solid #ffd133;
}
.tabs10 li a:hover {
    background-color: #ffd133;
}
.feature-box29 .post-date-box {
    background-color: #ffd133;
}
.smk_accordion .accordion_in.yellow.acc_active > .acc_head {
    background-color: #ffd133;
}
.text-yellow {
    color: #ffd133;
}
a.read-more.yellow {
    color: #ffd133;
}
.blog-holder6 .image-holder .post-date-box {
    background-color: #ffd133;
}
.scrollup.yellow {
    background-color: #ffd133;
}
.team-holder5 .image-holder .hover-box {
    background-color: #ffd133;
}
.side-nav-list li a:hover, .side-nav-list li a.active {
    background-color: #ffd133;
}
.iconlist.yellow li i {
    color: #ffd133;
}
.smart-forms .btn-primary.yellow {
    background-color: #ffd133;
}

/*rgba color*/
.section-overlay.yellow {
    background-color: rgba(255, 209, 51, 0.9);
}


/*==================================================
	corporate colors
==================================================*/


ul.nav > li > a.active {
    color: #ffd133;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffd133;
}
ul.nav>li>a:hover.active {
	color:#ffd133;
}
.ms-layer.sbut5 {
    background-color: #ffd133;
}
.feature-box1:hover .iconbox-tiny, .feature-box1.active .iconbox-tiny {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
a.read-more {
    color: #ffd133;
}
.text-orange-2 {
    color: #ffd133;
}
.btn.btn-orange-2 {
    background-color: #ffd133;
}
.iconlist li i {
    color: #ffd133;
}
.btn.btn-border.orange-2 {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border:hover.orange-2 {
	background-color:#ffd133;
	border-color:#ffd133;
}
.team-name-holder.bgcolor {
    background-color: #ffd133;
}
.social-icons-1 li a:hover, .social-icons-1 li a.active {
    color: #ffd133;
}
.pricetable-holder.active .title {
    background-color: #ffd133;
}
.post-date-box {
    background-color: #ffd133;
}
.post-date-box .arrow-down {
    border-top: 20px solid #ffd133;
}
.blog-post-info span.green {
    color: #ffd133;
}

.footer-tags li a:hover, .footer-tags li a.active {
    border: 1px solid #ffd133;
    color: #ffd133;
}
.scrollup {
    background-color: #ffd133;
}
.social-icons-3 li a:hover, .social-icons-3 li a.active {
    background-color: #ffd133;
}
.social-icons-3 li a {
    color: #ffd133;
}
a.topbar-btn:hover, a.topbar-btn.active {
    background-color: #ffd133;
}
.slide-controls-color-13 .owl-theme .owl-controls .owl-page span {
    background: #ffd133 none repeat scroll 0 0;
}
.feature-box3:hover .iconbox-xlarge, .feature-box3.active .iconbox-xlarge {
    background-color: #ffd133;
}
.feature-box3 .iconbox-xlarge {
    color: #ffd133;
}
.ms-layer.sbut4 {
    background-color: #ffd133;
}
.digit {
    background-color: #ffd133;
}
.tabs1 li.active a {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.tabs1 li a:hover {
    color: #ffd133;
}
.iconlist.orange li i {
    color: #ffd133;
}
.feature-box4 .iconbox-xtiny {
    background-color: #ffd133;
}
.feature-box4:hover h5 {
    color: #ffd133;
}
.team-holder2 .img-holder .icon-box {
    background-color: #ffd133;
}
.feature-box5:hover h4, .feature-box5:hover .icon-plain-msmall, .feature-box5.active h4, .feature-box5.active .icon-plain-msmall {
    color: #ffd133;
}
.tabs2 li.active a {
    background-color: #ffd133;
    border-right: 1px solid #ffd133;
}
.tabs2 li a:hover {
    background-color: #ffd133;
}
.usefull-links.orange li i {
    color: #ffd133;
}
.newsletter .input_submit {
    background-color: #ffd133;

}
.social-icons-3.orange li a:hover {
    background-color: #ffd133;
}
.scrollup.orange {
    background-color: #ffd133;
}
.scrollup.orange2 {
    background-color: #ffd133;
}
.scrollup.violet {
   background-color: #ffd133;
}
ul.nav.orange2 > li > a.active {
    color: #ffd133;
}
ul.nav.orange2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.orange2 .navbar-nav > li > a:focus, .navbar-default.orange2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut5.orange {
    background-color: #ffd133;
}
.tabs li.active a {
    background-color: #ffd133;
}
.iconlist.orange2 li i {
    color: #ffd133;
}
.section-orange-2 {
    background-color: #ffd133;
}
.testimonials-holder.two:hover, .testimonials-holder.two.active {
    background-color: #ffd133;
}
.contact-info-holder:hover .iconbox-xmedium, .contact-info-holder.active .iconbox-xmedium {
    background-color: #ffd133;
}
.contact-info-holder .iconbox-xmedium {
    color: #ffd133;
}
.socialicon-holder .social-icons-3 li a:hover, .socialicon-holder .social-icons-3 li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.btn.btn-orange-2.dark {
    background-color: #ffd133;
}
.feature-box7:hover, .feature-box7.active {
    background-color: #ffd133;
}
.feature-box8:hover .iconbox-small, .feature-box8.active .iconbox-small {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box8:hover h4, .feature-box8.active h4 {
    color: #ffd133;
}
.feature-box8 .iconbox-small {
    color: #ffd133;
}
.smk_accordion .accordion_in.st2.acc_active > .acc_head {
    color: #ffd133;
}
.progressbar-style1 .progress-bar {
    background-color: #ffd133;
}
.testimonials2 .imgholder {
    background-color: #ffd133;
}
.team-holder3 .social-icons-3 li a:hover, .team-holder3 .social-icons-3 li a.active {
    background-color: #ffd133;
}
.post-date-box.violet {
    background-color: #ffd133;
}
.newsletter .input_submit.violet {
    background-color: #ffd133;
}
.usefull-links.violet li i {
    color: #ffd133;
}
.section-green {
    background-color: #ffd133;
}
.feature-box9:hover .iconbox-xlarge, .feature-box9.active .iconbox-xlarge {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box9 .iconbox-xlarge {
    color: #ffd133;
}
.feature-box9:hover h3, .feature-box9.active h3 {
    color: #ffd133;
}
.iconlist.green2 li i {
    color: #ffd133;
}
.blog-holder2 .post-date-box {
    background-color: #ffd133;
}
.testimonials3:hover .img-holder, .testimonials3.active .img-holder {
    background-color: #ffd133;
}
.testimonials3:hover .arrow-down, .testimonials3.active .arrow-down {
    border-top: 20px solid #ffd133;
}
.ms-layer.text59 {
    background-color: #ffd133;
}
.ms-layer.sbut2:hover {
    background-color: #ffd133;
    color: #fff;
}
.title-line-8 {
    background-color: #ffd133;
}
.feature-box10:hover, .feature-box10.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box11 .iconbox-xtiny {
    background-color: #ffd133;
}
.post-infoicon {
    background-color: #ffd133;
}
.tabs3 li.active a {
    background-color: #ffd133;
    border-right: 1px solid #ffd133;
}
.tabs3 li a:hover {
    background-color: #ffd133;
}
.testimonials5 .social-icons-2 li a:hover, .testimonials5 .social-icons-2 li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.topbar-middle-logo {
    background-color: #ffd133;
}
.ms-layer.offerbadge.orange-2 {
    background-color: #ffd133;
}
.ms-layer.text62 span {
    color: #ffd133;
}
.feature-box12:hover .iconbox-small, .feature-box12.active .iconbox-small {
    background-color: #ffd133;
}
.feature-box12:hover .read-more.white, .feature-box12.active .read-more.white {
    color: #ffd133;
}
.feature-box13:hover .iconbox-medium, .feature-box13.active .iconbox-medium {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
a.read-more.dark:hover {
    color: #ffd133;
}
.feature-box14 .digit {
    background-color: #ffd133;
}
.team-holder4:hover .icon-holder, .team-holder4.active .icon-holder {
    background-color: #ffd133;
}
.team-holder4:hover h5, .team-holder4.active h5 {
    color: #ffd133;
}
.pricetable-holder2 th .title-header.active {
    background-color: #ffd133;
}
.feature-box15:hover, .feature-box15.active {
    background-color: #ffd133;
}
.feature-box15 {
    border: 1px solid #ffd133;
}
.feature-box16:hover .iconbox-smedium, .feature-box16.active .iconbox-smedium {
    background-color: #ffd133;
}
.feature-box16:hover h4, .feature-box16.active h4 {
    color: #ffd133;
}
.social-icons-2 li a {
    background-color: #ffd133;
}
.pricetable-holder3:hover .inner-holder, .pricetable-holder3.active .inner-holder {
    background-color: #ffd133;
}
.pricetable-holder3:hover, .pricetable-holder3.active {
    border: 1px solid #ffd133;
}
.feature-box17:hover, .feature-box17.active {
    background-color: #ffd133;
}
.feature-box19 .iconbox-small {
    color: #ffd133;
}
.feature-box19:hover .iconbox-small, .feature-box19.active .iconbox-small {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box19:hover h4, .feature-box19.active h4 {
    color: #ffd133;
}
.feature-box5.two:hover, .feature-box5.two.active {
    background-color: #ffd133;
}
.feature-box5.two:hover .arrow-down, .feature-box5.two.active .arrow-down {
    border-top: 20px solid #ffd133;
}
.feature-box20:hover .iconbox-tiny, .feature-box20.active .iconbox-tiny {
    background-color: #ffd133;
}
.feature-box22 .iconbox-xlarge .inner-box {
    background-color: #ffd133;
}
.feature-box23:hover, .feature-box23.active {
    background-color: #ffd133;
}
.btn.appstore.orange {
    background-color: #ffd133;
}
.btn.appstore.white:hover {
    background-color: #ffd133;
}
.personal-info.orange-2 li {
    color: #ffd133;
}
.category-links.orange-2 li a:hover, .category-links.orange-2 li a.active {
    color: #ffd133;
}
.sidebar-posts:hover h6, .sidebar-posts.active h6 {
    color: #ffd133;
}
.tags-2 li a:hover, .tags-2 li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.btn.btn-green-4 {
    background-color: #ffd133;
}
.tabs15 li.active a {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.tabs15 li a:hover {
    color: #ffd133;
}
ul.sitemap li a {
    color: #ffd133;
}
.error-search-box .input_submit {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.cbp-l-filters-button.three .cbp-filter-item.cbp-filter-item-active {
    color: #ffd133;
}
.cbp-l-filters-button.two .cbp-filter-item.cbp-filter-item-active {
    border-color:#ffd133;
}
.cbp-l-filters-button.two .cbp-filter-item:hover {
    color: #ffd133;
}
.cbp-l-filters-button.two .cbp-filter-counter {
    background-color: #ffd133;
}

.cbp-l-filters-button.two .cbp-filter-counter::before {
    border-top: 4px solid #ffd133;
}
.blog-holder-12 .image-holder .overlay .icon {
    background-color: #ffd133;
}
.blog-pagenation li a:hover, .blog-pagenation li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
a.loadmore-but.orange-2 {
    background-color: #ffd133;
}
.smart-forms .btn-primary.orange-2 {
    background-color: #ffd133;
}



/*rgba color*/

.team-holder3 .img-holder .overlay {
    background-color: rgba(255, 209, 51, 0.9);
}
.section-overlay.orange-2 {
    background-color: rgba(255, 209, 51, 0.9);
}

.pricetable-holder .arrow {
    background: url(../../images/colors/yellow/site-img07.png);
}
.pricetable-holder .arrow.two {
    background: url(../../images/colors/yellow/site-img08.png);
}



.topbar.orange2 {
    background-color: #ffd133;
}
.feature-box-101 .circle {
    background-color: rgba(255, 209, 51, 0.9);
}
.feature-box-102 .number-1 {
    background: url(../../images/colors/yellow/1.png) center 0 no-repeat;
}
.feature-box-102 .number-2 {
    background: url(../../images/colors/yellow/2.png) center 0 no-repeat;
}
.feature-box-102 .number-3 {
    background: url(../../images/colors/yellow/3.png) center 0 no-repeat;
}
.feature-box-102 .number-4 {
    background: url(../../images/colors/yellow/4.png) center 0 no-repeat;
}
.feature-box-103:hover .iconbox-medium, .feature-box-103.active .iconbox-medium {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box-103:hover h4, .feature-box-103.active h4 {
    color: #ffd133;
}
.feature-box-103 .iconbox-medium {
    color: #ffd133;
}
.blog-holder-13 .image-holder .shapes {
    background: url(../../images/colors/yellow/775.png);
}

.pricetable-holder7.active {
    background-color: #ffd133;
}

.pricetable-active-bg-strip {
    background-color: #ffd133;
}


/*==================================================
	creative colors
==================================================*/


#header11 .navbar-nav li a.current {
    color: #ffd133;
}
.navbar-default.orange-4 .navbar-nav > li > a:focus, .navbar-default.orange-4 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.text-orange-4 {
    color: #ffd133;
}
.title-line-4.orange-4 {
    background-color: #ffd133;
}
.scrollup.orange-4 {
    background-color: #ffd133;
}
.btn.btn-border.orange-4 {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.orange-4:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.progressbar-style4 .progress-bar {
    background-color: #ffd133;
}
.feature-box-90:hover, .feature-box-90.active {
    background-color: #ffd133;
}
.section-orange-4 {
    background-color: #ffd133;
}
.feature-box-91 .post-date-box {
    color: #ffd133;
}
.feature-box-91 .post-date-box span {
    color: #ffd133;
}
.divider-line.orange-4 {
    border-bottom-color: #ffd133;
}
.slide-controls-color-11 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.smart-forms .btn-primary.orange-4 {
    background-color: #ffd133;
}


/*rgba color*/
.section-overlay.orange-4 {
    background-color: rgba(255, 209, 51, 0.9);
}


/*==================================================
	fashion colors
==================================================*/

ul.nav.yellow-green-2 > li > a.active {
    color: #ffd133;
}
ul.nav.yellow-green-2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.yellow-green-2 .navbar-nav > li > a:focus, .navbar-default.yellow-green-2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut11 {
    background-color: #ffd133;
}
.section-yellow-green-2 {
    background-color: #ffd133;
}
.title-line-6 {
    background-color: #ffd133;
}
.feature-box-49 .iconbox-xlarge {
    background-color: #ffd133;
}
.feature-box-49 {
    border-top: 1px solid #ffd133;
}
.feature-box-49:hover h4, .feature-box-49.active h4 {
    color: #ffd133;
}
.btn.btn-border.light.yellow-green-2:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-yellow-green-2 {
    background-color: #ffd133;
}
.feature-box-50 .iconbox-xtiny {
    background-color: #ffd133;
}
.feature-box-51 .image-holder .hover-box {
    border: 1px solid #ffd133;
}
.feature-box53 .post-date-box {
    background-color: #ffd133;
}
.slide-controls-color-1 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.usefull-links.yellow-green-2 li i {
    color: #ffd133;
}
.newsletter .input_submit.yellow-green-2 {
    background-color: #ffd133;
}
.scrollup.yellow-green-2 {
    background-color: #ffd133;
}
.team-holder12 .image-holder .hover-box {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-green-2 {
    background-color: #ffd133;
}



/*text white*/

.ms-layer.sbut11 {
    color: #fff;
}
.section-yellow-green-2 h3, .section-yellow-green-2 p {
   color: #fff;
}

.btn.btn-border.xdark {
    border-color: #fff;
    color: #fff;
}
.feature-box-49 .iconbox-xlarge {
    color: #fff;
}
.btn.btn-yellow-green-2 {
    color: #fff;
}
.feature-box-50 .iconbox-xtiny {
    color: #fff;
}
.feature-box53 .post-date-box {
    color: #fff;
}
.feature-box53 .post-date-box span {
    color: #fff;
}
.newsletter .input_submit.yellow-green-2 {
    color: #fff;
}
.team-holder12 .image-holder .hover-box p {
    color: #fff;
}
.smart-forms .btn-primary.yellow-green-2 {
    color: #fff;
}


/*==================================================
	gym colors
==================================================*/


ul.nav.red > li > a.active {
    color: #ffd133;
}
.navbar-default.red .navbar-nav > li > a:focus, .navbar-default.red .navbar-nav > li > a:hover {
    color: #ffd133;
}
ul.nav.red > li > a.active:hover {
    color: #ffd133;
}
.ms-layer.sbut6 {
    background-color: #ffd133;
}
.section-red {
    background-color: #ffd133;
}
.feature-box24 .inner .but {
    color: #ffd133;
}
.pricetable-holder4:hover, .pricetable-holder4.active {
    border: 2px solid #ffd133;
}
.pricetable-holder4:hover .inner-holder, .pricetable-holder4.active .inner-holder {
    background-color: #ffd133;
}
.btn.btn-red {
    background-color: #ffd133;
}
.feature-box25 {
    background-color: #ffd133;
}
.text-yellow-2 {
    color: #ffd133;
}
.scrollup.red {
    background-color: #ffd133;
}
.text-red {
    color: #ffd133;
}
.feature-box28:hover {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.smart-forms .btn-primary.red {
    background-color: #ffd133;
}

.bottom-shape5 {
    background: url(../../images/colors/yellow/bottom-shape1.png) center top no-repeat;
}
.top-shape2.red2 {
    background: url(../../images/colors/yellow/top-shape5.png) center top no-repeat;
}
.top-shape2.red {
   background: url(../../images/colors/yellow/top-shape4.png) center top no-repeat;
}
.bottom-shape1 {
	background: url(../../images/colors/yellow/bottom-shape1.png) center top no-repeat;
}
.top-shape1{
	background: url(../../images/colors/yellow/top-shape1.png) center top no-repeat;
}



/*==================================================
	hairsaloon colors
==================================================*/

.topbar.pink .toplist li {
    color: #ffd133;
}
.topbar.pink .toplist li a {
    color: #ffd133;
}
ul.nav.pink > li > a.active {
    color: #ffd133;
}
ul.nav.pink > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.pink .navbar-nav > li > a:focus, .navbar-default.pink .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut11.pink {
    background-color: #ffd133;
}
.btn.btn-border.pink {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.pink:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-pink {
    background-color: #ffd133;
}
.text-pink {
    color: #ffd133;
}
.footer-holder .social-icons-3 li a:hover {
    background-color: #ffd133;
}
.scrollup.pink {
    background-color: #ffd133;
}
.smart-forms .btn-primary.pink {
    background-color: #ffd133;
}


/*==================================================
	hosting colors
==================================================*/


ul.nav.green-4 > li > a.active {
    color: #ffd133;
}
ul.nav.green-4 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.green-4 .navbar-nav > li > a:focus, .navbar-default.green-4 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.text75 i {
    color: #ffd133;
}
.ms-layer.offerbadge {
    background-color: #ffd133;
}
.ms-layer.sbut22 {
    background-color: #ffd133;
}
.section-green-4 {
    background-color: #ffd133;
}
.domain-search-home #domain-searchform #dsearch {
    background-color: #ffd133;
}
.domain-search-home .drlist {
    border: 1px solid #ffd133;
}
.domain-search-home #search-submit {
    color: #ffd133;
}
.scrollup.green-4 {
    background-color: #ffd133;
}
.text-green-4 {
    color: #ffd133;
}
.divider-line.green-4 {
    border-bottom-color: #ffd133;
}
.feature-box-92:hover .iconbox-small, .feature-box-92:hover .iconbox-tiny, .feature-box-92.active .iconbox-small, .feature-box-92.active .iconbox-tiny {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box-92 .iconbox-small {
    color: #ffd133;
}
.feature-box-92:hover .title, .feature-box-92.active .title {
    color: #ffd133;
}
.iconlist.green-4 li i {
    color: #ffd133;
}
.btn.btn-border.green-4 {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.green-4:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.btn.btn-border.light.green-4:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.feature-box-93 .price-badge {
    background-color: #ffd133;
}
.pricetable-holder5.active {
    background-color: #ffd133;
}
.pricetable-active-bg-strip {
    background-color: #ffd133;
}
.btn.btn-green-4 {
    background-color: #ffd133;
}
.tabs14 li.active a {
    color: #ffd133;
}
.tabs14 li a:hover {
    color: #ffd133;
}
.title-line-4.green-4 {
    background-color: #ffd133;
}

.feature-box-94 .image-holder .circle {
    background-color: #ffd133;
}
.feature-box-94 .image-holder .circle .arrow-down {
    border-top: 20px solid #ffd133;
}
.pricetable-holder6.active {
    background-color: #ffd133;
}
.slide-controls-color-12 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.newsletter .input_submit.green-4 {
    background-color: #ffd133;
}
#domain-search-holder #searchsubmit {
    background-color: #ffd133;
}
.tld-step-box {
    background-color: #ffd133;
}
.parallax-section65 .iconbox-large {
    background-color: #ffd133;
}
.feature-box-100 {
    background-color: #ffd133;
}
#search-topic #searchsubmit {
    background-color: #ffd133;
}
.smart-forms .btn-primary.green-4 {
    background-color: #ffd133;
}


/*rgba color*/
.feature-box-95 {
    background-color: rgba(255, 209, 51, 0.8);
}
.pricetable-holder6.active .features-list li:nth-child(2n) {
    background-color: #efc226;
}


/*==================================================
	law colors
==================================================*/

ul.nav.stone > li > a.active {
    color: #ffd133;
}
ul.nav.stone > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.stone .navbar-nav > li > a:focus, .navbar-default.stone .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut14 {
    background-color: #ffd133;
}
.feature-box-67 .iconbox-xtiny {
    border: 1px solid #ffd133;
    color: #ffd133;
}
.title-line-4.stone {
    background-color: #ffd133;
}
.btn.btn-border.stone {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.stone:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
a.read-more.stone {
    color: #ffd133;
}
.slide-controls-color-5 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.parallax-section49 .title-2 {
    color: #ffd133;
}
.text-stone {
    color: #ffd133;
}

.team-holder14 .image-holder .hover-box {
    background-color: #ffd133;
}
.section-light-stone {
    background-color: #f6f6f6;
}

.tabs12 li a:hover {
    background-color: #ffd133;
}
.tabs12 li.active a {
    background-color: #ffd133;
    border-right: 1px solid #ffd133;
}
.feature-box68 .image-holder .post-date-box.stone {
    background-color: #ffd133;
}
.smart-forms .btn-primary.stone {
    background-color: #ffd133;
}
.scrollup.stone {
    background-color: #ffd133;
}
.cbp-l-filters-button.style-5 .cbp-filter-item.cbp-filter-item-active {
    background-color: #ffd133;
    border-color: #ffd133;
}
.cbp-l-filters-button.style-5 .cbp-filter-item {
    border: 1px solid #ffd133;
    color: #ffd133;
}
.cbp-l-filters-button.style-5 .cbp-filter-counter::before {
    border-top: 4px solid #ffd133;
}
.cbp-l-filters-button.style-5 .cbp-filter-counter {
    background-color: #ffd133;
}
.iconlist.stone li a {
    color: #ffd133;
}
.iconlist.stone li i {
    color: #ffd133;
}
.smart-forms .btn-primary.stone-2 {
    background-color: #ffd133;
}
.usefull-links.stone li i {
    color: #ffd133;
}


/*rgba*/
.section-overlay.stone {
    background-color: rgba(255, 209, 51, 0.8);
}


/*==================================================
	mechanic colors
==================================================*/


ul.nav.yellow-3 > li > a.active {
    color: #ffd133;
}
ul.nav.yellow-3 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.yellow-3 .navbar-nav > li > a:focus, .navbar-default.yellow-3 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.text28 {
    color: #ffd133;
}
.ms-layer.sbut11.yellow-3 {
    background-color: #ffd133;
}
.btn.btn-yellow {
    background-color: #ffd133;
}
a.read-more.yellow-3 {
    color: #ffd133;
}
.text-yellow-3 {
    color: #ffd133;
}
.btn.btn-yellow-3 {
    background-color: #ffd133;
}
.feature-box57 {
    background-color: #ffd133;
}
.feature-box57 form select {
    border: 1px solid #ffd133;
}
.feature-box57 .input {
    border: 1px solid #ffd133;
}
.social-icons-3.yellow-3 li a:hover, .social-icons-3.yellow-3 li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.usefull-links.yellow li i {
    color: #ffd133;
}
.scrollup.yellow-3 {
    background-color: #ffd133;
}
.progressbar-style1 .progress-bar.yellow-3 {
    background-color: #ffd133;
}
.section-yellow-3 {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-3 {
    background-color: #ffd133;
}


/*==================================================
	medical colors
==================================================*/

.btn.btn-blue {
    background-color: #ffd133;
}
ul.nav.blue > li > a.active {
    color: #ffd133;
}
ul.nav.blue > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.blue .navbar-nav > li > a:focus, .navbar-default.blue .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut21 {
    background-color: #ffd133;
}
.feature-box-86 {
    background-color: #ffd133;
}
.btn.btn-border.blue {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.blue:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.divider-line.blue {
    border-bottom-color: #ffd133;
}
.title-line-4.blue {
    background-color: #ffd133;
}
.feature-box-87 {
    background-color: #ffd133;
}
.text-blue {
    color: #ffd133;
}
.title-line-4.blue {
    background-color: #ffd133;
}
.btn.btn-border.blue {
    border-color: #ffd133;
    color: #ffd133;
}
.slide-controls-color-10 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.feature-box-88:hover {
    background-color: #ffd133;
}
.feature-box-88 h5 {
    color: #ffd133;
}
.feature-box-88 i {
    color: #ffd133;
}
.section-blue {
    background-color: #ffd133;
}
.scrollup.blue {
    background-color: #ffd133;
}
.text-blue {
    color: #ffd133;
}
.smk_accordion .accordion_in.five.acc_active > .acc_head {
    background-color: #ffd133;
}
.smart-forms .btn-primary.blue-small {
    background-color: #ffd133;
}
.social-icons-3.blue li a:hover, .social-icons-3.blue li a.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
a.read-more.blue {
    color: #ffd133;
}
.iconlist.blue li i {
    color: #ffd133;
}
.smart-forms .btn-primary.blue {
    background-color: #ffd133;
}


/*box light*/
.feature-box-86.bg-color-light {
    background-color: #ffdd68;
}


/*==================================================
	personal colors
==================================================*/

#header .navbar-nav li a.current {
    border-bottom: 2px solid #ffd133;
    color: #ffd133;
}
.navbar-default.yellow-4 .navbar-nav > li > a:focus, .navbar-default.yellow-4 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut20 {
    background-color: #ffd133;
}
.section-yellow-4 {
    background-color: #ffd133;
}
.personal-info li {
    color: #ffd133;
}
.text-yellow-4 {
    color: #ffd133;
}
.slide-controls-color-9 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.progressbar-style3 .progress-bar {
    background-color: #ffd133;
}
.scrollup.yellow-4 {
    background-color: #ffd133;
}
.feature-box-85:hover, .feature-box-85.active {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.feature-box-85:hover .arrow-down, .feature-box-85.active .arrow-down {
    border-top: 20px solid #ffd133;
}
.smart-forms .btn-primary.yellow-4 {
    background-color: #ffd133;
}

/*==================================================
	portfolio colors
==================================================*/


ul.nav.red > li > a.active {
    color: #ffd133;
}
ul.nav.red > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.red .navbar-nav > li > a:focus, .navbar-default.red .navbar-nav > li > a:hover {
    color: #ffd133;
}
.text-red {
    color: #ffd133;
}
.footer-holder .social-icons-3.red li a:hover {
    background-color: #ffd133;
}
.cbp-l-filters-button.red .cbp-filter-item.cbp-filter-item-active {
    color: #ffd133;
}
.cbp-l-filters-button.red .cbp-filter-item.cbp-filter-item-active {
    border-color:#ffd133;
}
.cbp-l-filters-button.red .cbp-filter-item:hover {
    color: #ffd133;
}
.cbp-l-filters-button.red .cbp-filter-counter {
    background-color: #ffd133;
}

.cbp-l-filters-button.red .cbp-filter-counter::before {
    border-top: 4px solid #ffd133;
}
.smart-forms .btn-primary.red-5 {
    background-color: #ffd133;
}

/*==================================================
	realestate colors
==================================================*/


.call-us-box {
    background-color: #ffd133;
}
ul.nav.green > li > a.active {
    color: #ffd133;
}
ul.nav.green > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.green .navbar-nav > li > a:focus, .navbar-default.green .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.sbut13 {
    background-color: #ffd133;
}
.property-search {
    background-color: #ffd133;
}
.feature-box-65 .iconbox-xtiny {
    border: 1px solid #ffd133;
    color: #ffd133;
}
.title-line-4.green {
    background-color: #ffd133;
}
.feature-box-66 .image-holder .status {
    background-color: #ffd133;
}
.slide-nextprev-but-1 .owl-theme .owl-controls .owl-buttons div {
    background-color: #ffd133;
}
.section-green-2 {
    background-color: #ffd133;
}
.tabs11 li a:hover {
    background-color: #ffd133;
}
.tabs11 li.active a {
    background-color: #ffd133;
    border-right: 1px solid #ffd133;
}
.text-green-3 {
    color: #ffd133;
}
.team-holder13 .img-holder .icon-box {
    background-color: #ffd133;
}
.feature-box53 .post-date-box.green-3 {
    background-color: #ffd133;
}
.slide-controls-color-4 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.section-green-3 {
    background-color: #ffd133;
}
.scrollup.green-3 {
    background-color: #ffd133;
}
.usefull-links.yellow li i {
    color: #ffd133;
}

.cbp-l-filters-button.style-4 .cbp-filter-item.cbp-filter-item-active {
    background-color: #ffd133;
    border-color: #ffd133;
}
.cbp-l-filters-button.style-4 .cbp-filter-item {
    border: 1px solid #ffd133;
	color: #ffd133;
}
.cbp-l-filters-button.style-4 .cbp-filter-counter::before {
    border-top: 4px solid #ffd133;
}
.cbp-l-filters-button.style-4 .cbp-filter-counter {
    background-color: #ffd133;
}
.smart-forms .btn-primary.green {
    background-color: #ffd133;
}

/*==================================================
	restaurant colors
==================================================*/

ul.nav.red2 > li > a.active {
    color: #ffd133;
}
ul.nav.red2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.red2 .navbar-nav > li > a:focus, .navbar-default.red2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.text-red-2 {
    color: #ffd133;
}
.title-line-8.red2 {
    background-color: #ffd133;
}
.feature-box31 .image-holder .price {
    background-color: #ffd133;
}
.feature-box31 .divider-line {
    border-bottom: 1px solid #ffd133;
}
.btn.btn-border.light.red-2:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.feature-box32 .iconbox-large {
    color: #ffd133;
}
a.read-more {
    color: #ffd133;
}
.feature-box33 .post-date-box {
    background-color: #ffd133;
}
.divider-line.red2 {
    border-bottom-color: #ffd133;
}
.scrollup.red2 {
    background-color: #ffd133;
}
.res-form-holder .btn-res {
    background-color: #ffd133;
}
.smart-forms .btn-primary.red-2 {
    background-color: #ffd133;
}


/*==================================================
	shop colors
==================================================*/

ul.nav.red-2 > li > a.active {
    color: #ffd133;
}
ul.nav.red-2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.red-2 .navbar-nav > li > a:focus, .navbar-default.red-2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.btn.btn-red {
    background-color: #ffd133;
}
.ms-layer.offer-badge {
    background-color: #ffd133;
}
.scrollup.red-4 {
    background-color: #ffd133;
}
.shop-product-holder .image-holder .hoverbox {
    background-color: #ffd133;
}
.text-red-4 {
    color: #ffd133;
}
.btn.btn-red-4 {
    background-color: #ffd133;
}
.email_submit.two {
    background-color: #ffd133;
    border: 1px solid #ffd133;
}
.category-links.red-4 li a:hover, .category-links.red-4 li a.active {
    color: #ffd133;
}
.blog1-sidebar-posts.red-4 .post-info i {
    color: #ffd133;
}
.shop-tags li a {
    background-color: #ffd133;
}
.text-red-3 {
    color: #ffd133;
}
.slide-controls-color-6 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.divider-line.red-4 {
    border-bottom-color: #ffd133;
}
.smart-forms .btn-primary.red-4 {
    background-color: #ffd133;
}

/*==================================================
	transport colors
==================================================*/

ul.nav.orange > li > a.active {
    color: #ffd133;
}
ul.nav.orange > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.orange .navbar-nav > li > a:focus, .navbar-default.orange .navbar-nav > li > a:hover {
    color: #ffd133;
}
.title-line-7 {
    background-color: #ffd133;
}
.title-line-4.orange-3 {
    background-color: #ffd133;
}
.slide-controls-color-3 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.btn.btn-orange-3 {
    background-color: #ffd133;
}
.feature-box62 .post-date-box {
    background-color: #ffd133;
}
.small-line-2 {
    background-color: #ffd133;
}
.usefull-links.yellow li i {
    color: #ffd133;
}
.scrollup.orange-3 {
    background-color: #ffd133;
}
.section-orange-3 {
    background-color: #ffd133;
}
.team-holder12.two .image-holder .hover-box {
    background-color: #ffd133;
}
.smart-forms .btn-primary.orange-3 {
    background-color: #ffd133;
}

/*==================================================
	university colors
==================================================*/

ul.nav.pink-3 > li > a.active {
    background-color: #ffd133;
    color: #fff;
}
ul.nav.pink-3 > li > a.active:hover {
    background-color: #ffd133;
    color: #fff;
}
.navbar-default.pink-3 .navbar-nav > li > a:focus, .navbar-default.pink-3 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.btn.btn-pink-3 {
    background-color: #ffd133;
}
.ms-layer.text43 span {
    color: #ffd133;
}
.ms-layer.sbut19 {
    background-color: #ffd133;
}
.section-pink-3 {
    background-color: #ffd133;
}
.scrollup.pink-3 {
    background-color: #ffd133;
}
.feature-box-81 .image-holder .hover-strip:hover, .feature-box-81 .image-holder .hover-strip.active {
    background-color: #ffd133;
}
.title-line-9 {
    background-color: #ffd133;
}
.text-pink-3 {
    color: #ffd133;
}
.ms-layer.text44 {
    background-color: #ffd133;
}
a.read-more.pink-3 {
    color: #ffd133;
}
.feature-box-82 .image-holder .post-info .post-infoicon {
    background-color: #ffd133;
}
.feature-box-82:hover, .feature-box-82.active {
    background-color: #ffd133;
}
.slide-controls-color-8 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.smk_accordion .accordion_in.st3.acc_active > .acc_head {
    background-color: #ffd133;
}
.full-btn-1.bg-color-4 {
    background-color: #ffd133;
}
.smart-forms .btn-primary.pink-3 {
    background-color: #ffd133;
}


/*==================================================
	wedding colors
==================================================*/


.menu-main .navbar-nav li a.current {
    color: #ffd133;
}
ul.nav.yellow-2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.yellow-2 .navbar-nav > li > a:focus, .navbar-default.yellow-2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.ms-layer.text24 {
    color: #ffd133;
}
.ms-layer.text25 {
    color: #ffd133;
}
.section-yellow-2 {
    background-color: #ffd133;
}
.divider-line.yellow-2 {
    border-bottom-color: #ffd133;
}
.btn.btn-border.yellow-2 {
    border-color: #ffd133;
    color: #ffd133;
}
.btn.btn-border.yellow-2:hover {
    background-color: #ffd133;
    border-color: #ffd133;
}
.text-yellow-2 {
    color: #ffd133;
}
.small-line {
    background-color: #ffd133;
}
a.read-more.yellow-2 {
    color: #ffd133;
}
.small-line.align-left {
    background-color: #ffd133;
}
.smart-forms .btn-primary.yellow-2 {
    background-color: #ffd133;
}
.scrollup.yellow-2 {
    background-color: #ffd133;
}


/*images*/
blockquote.style1 {
    background-image: url(../../images/colors/yellow/openquote1.png);
}
blockquote.style1 span {
    background-image: url(../../images/colors/yellow/closequote1.png);
}


/*==================================================
	winery colors
==================================================*/

ul.nav.brown-2 > li > a.active {
    color: #ffd133;
}
ul.nav.brown-2 > li > a.active:hover {
    color: #ffd133;
}
.navbar-default.brown-2 .navbar-nav > li > a:focus, .navbar-default.brown-2 .navbar-nav > li > a:hover {
    color: #ffd133;
}
.text-brown-2 {
    color: #ffd133;
}
.btn.btn-brown-2 {
    background-color: #ffd133;
}
.usefull-links.stone li i {
    color: #ffd133;
}
a.read-more.brown-2 {
    color: #ffd133;
}
.scrollup.brown-2 {
    background-color: #ffd133;
}
.text-stone {
    color: #ffd133;
}
.slide-controls-color-5 .owl-theme .owl-controls .owl-page span {
    background-color: #ffd133;
}
.smart-forms .btn-primary.brown-2 {
    background-color: #ffd133;
}